/* You can add global styles to this file, and also import other style files */
html {
	background: url(./assets/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.9;
}

body {
	color: #181818;

	.entity-detail {
		img {
			border-radius: 0;
			display: block;
			height: 260px;
			margin: 0 auto;
			width: 800px;
		}
	}

	.p-breadcrumb {
		background: none;
		border: none;
		padding-top: 0;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			li {
				.p-menuitem-link .p-menuitem-text {
					color: #656565;
				}
			}
		}

		.p-menuitem-link {
			text-decoration: none;
			cursor: pointer;
		}
	}

	.p-card {
		background: none;
		box-shadow: none;
	}

	.p-chip {
		background-color: #656565;
		color: #e6e6e6;
		border-radius: 16px;
		padding: 0 0.75rem;

		.p-chip-text {
			line-height: 1.5;
			margin-top: 0.4rem;
			margin-bottom: 0.4rem;
		}
	}

	.view-image {
		img {
			border-radius: 20px;
		}
	}

	.p-menubar {
		background: none;
		padding: 0;
	}

	.p-menuitem-link-active {
		background-color: #e9ecef;
	}

	.p-carousel-item {
		text-align: center;
	}

	.p-toolbar {
		background: none;
		border: none;
	}
}
