/* You can add global styles to this file, and also import other style files */
html {
	background: url(./assets/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.9;
}

body {
	color: #e6e6e6;

	main {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 30px);
	}

	.entity-detail {
		img {
			border-radius: 0;
			display: block;
			height: 260px;
			margin: 0 auto;
			width: 800px;
			filter: grayscale(70%);
		}

		.tab-menu {
			.p-tabmenu .p-tabmenu-nav {
				background: #000;
				border: 1px solid #dee2e6;
				border-width: 0;
			}

			.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
				margin-right: 0;
			}

			.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
				border: solid #dee2e6;
				border-width: 0;
				border-color: transparent transparent #dee2e6 transparent;
				background: #000;
				color: #6c757d;
				padding: 1rem;
				font-weight: 600;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				transition: box-shadow 0.2s;
				margin: 0;
			}

			.p-tabmenu
				.p-tabmenu-nav
				.p-tabmenuitem
				.p-menuitem-link
				.p-menuitem-icon {
				margin-right: 0.5rem;
			}

			.p-tabmenu
				.p-tabmenu-nav
				.p-tabmenuitem
				.p-menuitem-link:not(.p-disabled):focus {
				outline: 0 none;
				outline-offset: 0;
				box-shadow: inset 0 0 0 0.2rem #a6d5fa;
			}

			.p-tabmenu
				.p-tabmenu-nav
				.p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover
				.p-menuitem-link {
				background: #000;
				border-color: #6c757d;
				color: #6c757d;
			}

			.p-tabmenu
				.p-tabmenu-nav
				.p-tabmenuitem.p-highlight
				.p-menuitem-link {
				background: #000;
				border-color: #2196f3;
				color: #2196f3;
			}

			.p-tabmenu .p-tabmenu-left-icon {
				margin-right: 0.5rem;
			}

			.p-tabmenu .p-tabmenu-right-icon {
				margin-left: 0.5rem;
			}

			.p-tabmenu .p-tabmenu-nav-btn.p-link {
				background: #000;
				color: #2196f3;
				width: 2.357rem;
				box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
					0 2px 2px 0 rgba(0, 0, 0, 0.14),
					0 1px 5px 0 rgba(0, 0, 0, 0.12);
				border-radius: 0;
			}

			.p-tabmenu .p-tabmenu-nav-btn.p-link:focus {
				outline: 0 none;
				outline-offset: 0;
				box-shadow: inset 0 0 0 0.2rem #a6d5fa;
			}

			border: 1px solid #dee2e6;
			border-width: 0;
		}

		.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
			margin-right: 0;
		}

		.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
			border: solid #dee2e6;
			border-width: 0 0 2px 0;
			border-color: transparent transparent #dee2e6 transparent;
			background: #000;
			color: #6c757d;
			padding: 1rem;
			font-weight: 600;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			transition: box-shadow 0.2s;
			margin: 0 0 -2px 0;
		}

		.p-tabmenu
			.p-tabmenu-nav
			.p-tabmenuitem
			.p-menuitem-link
			.p-menuitem-icon {
			margin-right: 0.5rem;
		}

		.p-tabmenu
			.p-tabmenu-nav
			.p-tabmenuitem
			.p-menuitem-link:not(.p-disabled):focus {
			outline: 0 none;
			outline-offset: 0;
			box-shadow: inset 0 0 0 0.2rem #a6d5fa;
		}

		.p-tabmenu
			.p-tabmenu-nav
			.p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover
			.p-menuitem-link {
			background: #000;
			border-color: #6c757d;
			color: #6c757d;
		}

		.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
			background: #000;
			border-color: #2196f3;
			color: #2196f3;
		}

		.p-tabmenu .p-tabmenu-left-icon {
			margin-right: 0.5rem;
		}

		.p-tabmenu .p-tabmenu-right-icon {
			margin-left: 0.5rem;
		}

		.p-tabmenu .p-tabmenu-nav-btn.p-link {
			background: #000;
			color: #2196f3;
			width: 2.357rem;
			box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
				0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			border-radius: 0;
		}

		.p-tabmenu .p-tabmenu-nav-btn.p-link:focus {
			outline: 0 none;
			outline-offset: 0;
			box-shadow: inset 0 0 0 0.2rem #a6d5fa;
		}
	}

	.p-breadcrumb {
		background: none;
		border: none;
		padding-top: 0;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			li {
				.p-menuitem-link .p-menuitem-text {
					color: #656565;
				}
			}
		}

		.p-menuitem-link {
			text-decoration: none;
			cursor: pointer;
		}
	}

	.p-card {
		background: none;
		box-shadow: none;
	}

	.p-chip {
		background-color: #656565;
		color: #e6e6e6;
		border-radius: 16px;
		padding: 0 0.75rem;

		.p-chip-text {
			line-height: 1.5;
			margin-top: 0.4rem;
			margin-bottom: 0.4rem;
		}
	}

	.view-image {
		img {
			border-radius: 20px;
		}
	}

	.p-menubar {
		background: none;
		padding: 0;
	}

	.p-menuitem-link-active {
		background-color: #e9ecef;
	}

	.p-carousel-item {
		text-align: center;
	}

	.p-toolbar {
		background: none;
		border: none;
	}
}
