<div class="collection-sidebar" *ngIf="params$$ | async as params">
	<div class="config">
		<div class="config-content-wrapper">
			<a tabindex="0" class="config-button" (click)="openSidebarHandler()"
				><i class="pi pi-cog"></i
			></a>

			<a tabindex="0" class="config-close"><i class="pi pi-times"></i></a>
		</div>
	</div>

	<p-sidebar [(visible)]="params.isSidebarVisible" position="right">
		<div
			class="sidebar"
			fxLayout="column"
			fxLayoutAlign="space-between none"
		>
			<p-accordion fxFlex="80">
				<p-accordionTab header="Sort by">
					<ng-container *ngFor="let item of params.sortByList">
						<div class="field-radiobutton">
							<p-radioButton
								[name]="item"
								[value]="item"
								[(ngModel)]="params.config.sortBy"
								[inputId]="item"
							></p-radioButton>

							<label [for]="item">{{ item | titlecase }}</label>
						</div>
					</ng-container>
				</p-accordionTab>

				<p-accordionTab header="Group by" [selected]="true">
					<p-multiSelect
						[options]="params.groupByList"
						display="chip"
						[(ngModel)]="params.config.groupBy"
					>
					</p-multiSelect>
				</p-accordionTab>

				<p-accordionTab header="Filter by">
					<p-multiSelect
						[options]="params.filterByArtistNameList"
						display="chip"
						[(ngModel)]="params.config.filterByArtistNames"
					>
					</p-multiSelect>
				</p-accordionTab>
			</p-accordion>

			<button
				pButton
				type="button"
				label="Save"
				(click)="saveHandler()"
			></button>
		</div>
	</p-sidebar>
</div>
