<div class="collection-sidebar">
  <div class="config">
    <div class="config-content-wrapper">
      <a tabindex="0" class="config-button" (click)="store.visibleSidebar(true)"
        ><i class="pi pi-cog"></i
      ></a>

      <a tabindex="0" class="config-close"><i class="pi pi-times"></i></a>
    </div>
  </div>

  <p-drawer
    [showCloseIcon]="false"
    [visible]="store.isSidebarVisible()"
    (visibleChange)="store.visibleSidebar($event)"
    position="right"
    >
    <div
      class="sidebar"
      fxLayout="column"
      fxLayoutAlign="space-between none"
      >
      <p-accordion fxFlex="80" value="group-by">
        <p-accordion-panel value="sort-by">
          <p-accordion-header>Sort by</p-accordion-header>

          <p-accordion-content>
            @for (item of store.sortByList(); track item) {
              <div class="field-radiobutton">
                <p-radiobutton
                  [name]="item"
                  [value]="item"
                  [ngModel]="store.sortBy()"
                  (onClick)="store.changeSortBy($event)"
                  [inputId]="item"
                ></p-radiobutton>
                <label [for]="item">{{ item | titlecase }}</label>
              </div>
            }
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="group-by">
          <p-accordion-header>Group by</p-accordion-header>

          <p-accordion-content>
            <p-multiselect
              [options]="store.groupByList()"
              display="chip"
              [ngModel]="store.groupBy()"
              (onChange)="store.changeGroupBy($event)"
              [filter]="true"
              optionLabel="label"
              >
            </p-multiselect>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="filter-by">
          <p-accordion-header>Filter by</p-accordion-header>

          <p-accordion-content>
            <p-multiselect
              [options]="store.filterByArtistNameList()"
              display="chip"
              [ngModel]="store.filterByArtistNames()"
              (onChange)="store.changeFilterBy($event)"
              [filter]="true"
              optionLabel="label"
              >
            </p-multiselect>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>

      <button
        pButton
        type="button"
        label="Save"
        (click)="store.save()"
      ></button>
    </div>
  </p-drawer>
</div>
