:host ::ng-deep .p-menuitem-link-active {
	background-color: #dddddd;
}

:host ::ng-deep .p-menubar {
	border: none;
}

:host ::ng-deep .p-toolbar {
	padding: 0.2rem;
}

.top-bar {
	margin-bottom: 1rem;
	border-bottom: #656565 1px solid;

	.start {
		display: flex
	}

	svg-icon:hover {
		cursor: pointer;
	}
}

.title {
	line-height: 64px;
	font-size: 32px;
	vertical-align: super;
	margin-left: 10px;
	margin-right: 10px;
}

.users-dropdown {
	margin-left: 10px;
	width: 150px;
}

.login {
	cursor: pointer;
	margin-left: 5px;
}
